/* GENERAL */

body {
    background-color: #ffe7d4;
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; /* calls keyframe fadeIn (shown below) */
}

@keyframes fadeIn { /* creates fade in animation when page is loaded */
    to {
        opacity: 1;
    }
}

/* HEADER */

header {
    display: inline-block;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FAF9F4;
    background-color: peru;
    font-size: 1.5em;
}

.header-logos {
    display: block;
    width: 10%;
}

/* NAVIGATION BAR */

.hamburger-menu {
	position: relative;
	width: 100%;
	background-color: #572E05;
	color: #FAF9F4;
	display: block;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

#hamburger-icon {
    padding: 10px 0px 10px 0px;
	font-size: 2em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu {
	position: absolute;
	top: 60px;
	left: 0;
    width: 100%;
    background-color: #572E05;
    color: #FAF9F4;
    display: none;
    flex-direction: column;
    align-items: center;
}

#menu a {
    width: 100%;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	text-align: center;
	font-size: 1.5em;
	background-color: #572E05;
    color: #FAF9F4;
}

#menu a:hover {
	background-color: #FAF9F4;
	color: #572E05;
	transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.dropdown-menu #menu {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	animation: slideDown 0.5s ease-in-out; /* calls keyframe slideDown (shown below) */
}

@keyframes slideDown { /* creates slide down effect for dropdown menu */
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* MAIN */

main {
    display: inline-block;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 60px;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #5E4C06;
    color: #F4F0E4; 
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FAF9F4;
    background-color: peru;
    font-size: 1.25em;
}

/* --- DIARY ARTICLES PAGE (diary-articles.html) --- */

.articles-container {
    display: flex;
    flex-direction: column;
}

.article-link {
    display: block;
    width: 100%;
    background-color: #5E4C06;
    color: #FAF9F4;
    margin-bottom: 10px;
}

.article-link a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.article-link a:hover {
    background-color: #FAF9F4;
    color: #5E4C06;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.article-link h3 {
    margin: 20px 20px 20px 20px;
}

/* ----- IMAGE SCROLL CONTAINER (article pages) ----- */

.image-scroll-container {
    background-color: #5E4C06;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.image-scroll-container figure {
    display: inline-block;
    text-align: center;
    width: 30%;
    padding: 10px;
}

.image-scroll-container figcaption {
    color: #FAF9F4;
    width: 100%;
    display: block;
    white-space: normal;
}

.image-scroll-container img {
    width: 100%;
}

/* ----- GALLERY PAGE (galleries.html) ----- */

.gallery-container {
    background-color: lightskyblue;
    color: black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
}

.gallery-header {
    display: block;
    width: 90%;
    text-align: center;
}

.gallery-container img {
    display: block;
    width: 40%;
    margin: 30px 0px 30px 0px;
}

/* ----- RESPONSIVES (MOBILE DESIGN) ----- */

@media screen and (min-width: 950px) { /* Screen larger than 950px (desktop) */

    /* NAV */

    #hamburger-icon {
        display: none; /* Hamburger menu hidden in desktop view */
        padding: 0;
    }

    #menu { /* Navigation bar displayed in desktop view */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        top: 0;
    }

    #menu a {
        width: 25%;
        font-size: 1em;
    }

    main {
        transform: translateY(49.6px);
    }

}

@media screen and (max-width: 950px) { /* Screen smaller than 950px (mobile) */

    /* HEADER */

    header {
        font-size: 0.7em;
    }

    .header-container {
        justify-content: space-evenly;
        align-items: center;
    }

    #logo-left {
        display: none; /* hides left-hand logo in the smaller mobile view */
    }

    #logo-right {
        border-radius: 50%; /* circularises the right-hand logo in the smaller mobile view */
    }

    /* ARTICLE PAGES */

    .image-scroll-container figure {
        width: 90%;
    }

    /* GALLERY PAGE */

    .gallery-container img {
        width: 90%;
    }

    /* FOOTER */

    footer {
        font-size: 0.7em;
    }

}